<h1>loged in</h1>

<form action="/login" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" >
        <label for="email">Email</label>
        <input type="email" name="email" id="email" >

        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button>submit</button>
    </div>

</form>
<a href="/login">login</a>